{{ define "body" }}

<body class="{{ if .Site.Params.backgroundImage }} background-image"
    style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
    {{ end }}

    {{ define "main" }}
    <main aria-role="main">
        <div class="pb-10">
            {{ if .Site.Params.Portrait.Path }}
            <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}"
                style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1>{{ .Site.Title }}</h1>

            {{ partial "subtitle.html" . }}

            {{- with .Site.Params.social }}
            <div>
                {{ partial "social-icons.html" . }}
            </div>
            {{- end }}
        </div>
        <!-- a small introcution text-->
        <div class="home-width home-intro mx-auto">
            {{ .Site.Params.intro }}
        </div>
        <div class="grid home-cols gap-x-10 mt-10 home-width mx-auto">
            <a class="main-link" style="font-weight: bolder;" href="/environment">
                Environment
            </a>
            <a class="main-link" style="font-weight: bolder;" href="/morphology">
                Morphology
            </a>
            <a class="main-link" style="font-weight: bolder;" href="/controller">
                Controller
            </a>
        </div>

        <div class="mt-20 mx-auto mb-2">
            Group 1
        </div>
        <div class="grid home-cols-2 home-names text-sm text-gray-400 mx-auto">
            <span>Stijn De Clercq</span>
            <span>Koen Desplenter</span>
            <span>Bram Devlaminck</span>
            <span>Thomas Van Mullem</span>
            <span>Tiebe Vercoutter</span>
            <span>Quinten Vervynck</span>
        </div>
    </main>
    {{ end }}